<%- include("partials/header") %>




<div class="container">

  <header class="jumbotron text-center">

    <h1>Welcome Campers to YelpCamp</h1>
    <p>View our selection of hand picked Campgrounds </p>
  
  <p>
    <a class="btn btn-lg btn-primary" href="/campgrounds/new">Add a new Campground</a>
  </p>

</header>

<div class="row">
  <div class="col-lg-12">
    <h3 style="text-align: center;">Our Most Popular Campgrounds</h3>
  </div>
</div>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">

  <% campgroundsKey.forEach((campgrounds)=>{%>

    <div class="col-md-3 col-sm-6">
      <div class="thumbnails">
        <img class="img-card img-fluid" src="<%= campgrounds.image%>"/>
        <div class="caption">
          <h4 ><%= campgrounds.name %> </h4>
        </div>
      </div>
    </div>

    <%}) %>

  </div>

</div>

<%- include("partials/footer") %>